In [25]:
import numpy as np
import pandas as pd

In [26]:
df = pd.read_csv('mpg.csv')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [35]:
df['origin'].unique()

array([1, 3, 2])

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [28]:
type(df['horsepower'][0])

str

In [29]:
df['horsepower'][0]+df['horsepower'][1]

'130165'

In [30]:
df['horsepower'].unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', '?', '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [31]:
df_4 = df[(df['horsepower'] != '?') & (df['cylinders']==4)]
new_hp_4 = str(int(np.floor(df_4['horsepower'].astype(int).mean())))

In [32]:
df['horsepower'] = df['horsepower'].replace('?',new_hp_4).astype(int)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    int64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 28.1+ KB

In [34]:
df.groupby('model_year')

In [36]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [41]:
df = df[['mpg', 'cylinders', 'displacement', 'horsepower', 'weight','acceleration', 'model_year']]
df.groupby('model_year').var()

,mpg,cylinders,displacement,horsepower,weight,acceleration
model_year,,,,,,
70,28.507389,2.975369,15480.679803,2887.433498,7.273850e+05,11.095443
71,43.453704,2.772487,13248.564815,1462.370370,1.127485e+06,7.108466
72,29.544974,4.300265,15321.974537,1690.966931,9.496911e+05,8.122685
73,22.092308,3.266026,14816.266026,2154.101923,9.502528e+05,7.585737
74,41.216524,2.507123,8574.968661,857.165242,9.011868e+05,2.851140
75,24.409195,2.317241,7685.981609,706.340230,5.855001e+05,6.109483
76,34.683824,2.780749,8915.562389,1051.743316,6.746511e+05,7.847950
77,44.567130,3.294974,11623.802910,1302.883598,8.332511e+05,5.168307
78,47.583016,2.237302,5777.932540,808.618254,3.919059e+05,4.536540
79,46.161379,3.147783,9275.150246,809.741379,5.593267e+05,8.719803
80,49.533202,0.337438,1138.719212,306.687192,1.868275e+05,7.990197
81,31.264483,1.172414,3409.150246,316.423645,2.847295e+05,4.807094
82,29.079570,0.361290,1548.582796,171.303226,1.255120e+05,6.174452

In [39]:
df.groupby('model_year').count()

            mpg  cylinders  displacement  horsepower  weight  acceleration
model_year
70           29         29            29          29      29            29
71           28         28            28          28      28            28
72           28         28            28          28      28            28
73           40         40            40          40      40            40
74           27         27            27          27      27            27
75           30         30            30          30      30            30
76           34         34            34          34      34            34
77           28         28            28          28      28            28
78           36         36            36          36      36            36
79           29         29            29          29      29            29
80           29         29            29          29      29            29
81           29         29            29          29      29            29
82           31         31            31          31      31            31

In [43]:
df.groupby('model_year').describe().transpose()

model_year                   70           71           72           73  \
mpg          count    29.000000    28.000000    28.000000    40.000000
             mean     17.689655    21.250000    18.714286    17.100000
             std       5.339231     6.591942     5.435529     4.700245
             min       9.000000    12.000000    11.000000    11.000000
             25%      14.000000    15.500000    13.750000    13.000000
             50%      16.000000    19.000000    18.500000    16.000000
             75%      22.000000    27.000000    23.000000    20.000000
             max      27.000000    35.000000    28.000000    29.000000
cylinders    count    29.000000    28.000000    28.000000    40.000000
             mean      6.758621     5.571429     5.821429     6.375000
             std       1.724926     1.665079     2.073708     1.807215
             min       4.000000     4.000000     3.000000     3.000000
             25%       6.000000     4.000000     4.000000     4.000000
             50%       8.000000     6.000000     4.000000     7.000000
             75%       8.000000     6.500000     8.000000     8.000000
             max       8.000000     8.000000     8.000000     8.000000
displacement count    29.000000    28.000000    28.000000    40.000000
             mean    281.413793   209.750000   218.375000   256.875000
             std     124.421380   115.102410   123.781964   121.722085
             min      97.000000    71.000000    70.000000    68.000000
             25%     198.000000    97.750000   109.250000   121.750000
             50%     307.000000   228.500000   131.000000   276.000000
             75%     383.000000   273.000000   326.000000   350.250000
             max     455.000000   400.000000   429.000000   455.000000
horsepower   count    29.000000    28.000000    28.000000    40.000000
             mean    147.827586   106.000000   120.178571   130.475000
             std      53.734844    38.240951    41.121368    46.412304
             min      46.000000    60.000000    54.000000    46.000000
             25%      95.000000    77.500000    86.750000    93.250000
             50%     150.000000    92.500000   104.500000   129.500000
             75%     198.000000   120.000000   150.750000   160.250000
             max     225.000000   180.000000   208.000000   230.000000
weight       count    29.000000    28.000000    28.000000    40.000000
             mean   3372.793103  2995.428571  3237.714286  3419.025000
             std     852.868663  1061.830859   974.520960   974.809133
             min    1835.000000  1613.000000  2100.000000  1867.000000
             25%    2648.000000  2110.750000  2285.500000  2554.500000
             50%    3449.000000  2798.000000  2956.000000  3338.500000
             75%    4312.000000  3603.250000  4169.750000  4247.250000
             max    4732.000000  5140.000000  4633.000000  4997.000000
acceleration count    29.000000    28.000000    28.000000    40.000000
             mean     12.948276    15.142857    15.125000    14.312500
             std       3.330982     2.666171     2.850032     2.754222
             min       8.000000    11.500000    11.000000     9.500000
             25%      10.000000    13.375000    13.375000    12.500000
             50%      12.500000    14.500000    14.500000    14.000000
             75%      15.000000    16.125000    16.625000    16.000000
             max      20.500000    20.500000    23.500000    21.000000

model_year                   74           75           76           77  \
mpg          count    27.000000    30.000000    34.000000    28.000000
             mean     22.703704    20.266667    21.573529    23.375000
             std       6.420010     4.940566     5.889297     6.675862
             min      13.000000    13.000000    13.000000    15.000000
             25%      16.000000    16.000000    16.750000    17.375000
             50%      24.000000    19.500000    21.000000    21.750000
             75%      27.000000    23.000000    26.375000    30.000000
             max      32.000000    33.000000    33.000000    36.000000
cylinders    count    27.000000    30.000000    34.000000    28.000000
             mean      5.259259     5.600000     5.647059     5.464286
             std       1.583390     1.522249     1.667558     1.815206
             min       4.000000     4.000000     4.000000     3.000000
             25%       4.000000     4.000000     4.000000     4.000000
             50%       4.000000     6.000000     6.000000     4.000000
             75%       6.000000     6.000000     7.500000     8.000000
             max       8.000000     8.000000     8.000000     8.000000
displacement count    27.000000    30.000000    34.000000    28.000000
             mean    171.740741   205.533333   197.794118   191.392857
             std      92.601127    87.669730    94.422256   107.813742
             min      71.000000    90.000000    85.000000    79.000000
             25%      90.000000   121.000000   102.500000    97.750000
             50%     122.000000   228.000000   184.000000   143.000000
             75%     250.000000   250.000000   291.000000   270.500000
             max     350.000000   400.000000   351.000000   400.000000
horsepower   count    27.000000    30.000000    34.000000    28.000000
             mean     93.629630   101.066667   101.117647   105.071429
             std      29.277384    26.577062    32.430592    36.095479
             min      52.000000    53.000000    52.000000    58.000000
             25%      75.000000    84.250000    78.250000    78.000000
             50%      83.000000    97.000000    93.500000    97.500000
             75%     102.500000   110.000000   120.000000   115.000000
             max     150.000000   170.000000   180.000000   190.000000
weight       count    27.000000    30.000000    34.000000    28.000000
             mean   2877.925926  3176.800000  3078.735294  2997.357143
             std     949.308571   765.179781   821.371481   912.825902
             min    1649.000000  1795.000000  1795.000000  1825.000000
             25%    2116.500000  2676.750000  2228.750000  2135.000000
             50%    2489.000000  3098.500000  3171.500000  2747.500000
             75%    3622.500000  3662.250000  3803.750000  3925.000000
             max    4699.000000  4668.000000  4380.000000  4335.000000
acceleration count    27.000000    30.000000    34.000000    28.000000
             mean     16.203704    16.050000    15.941176    15.435714
             std       1.688532     2.471737     2.801419     2.273391
             min      13.500000    11.500000    12.000000    11.100000
             25%      15.250000    14.125000    13.925000    14.000000
             50%      16.000000    16.000000    15.500000    15.650000
             75%      17.000000    17.375000    17.550000    16.925000
             max      21.000000    21.000000    22.200000    19.000000

model_year                   78           79           80           81  \
mpg          count    36.000000    29.000000    29.000000    29.000000
             mean     24.061111    25.093103    33.696552    30.334483
             std       6.898044     6.794217     7.037983     5.591465
             min      16.200000    15.500000    19.100000    17.600000
             25%      19.350000    19.200000    29.800000    26.600000
             50%      20.700000    23.900000    32.700000    31.600000
             75%      28.000000    31.800000    38.100000    34.400000
             max      43.100000    37.300000    46.600000    39.100000
cylinders    count    36.000000    29.000000    29.000000    29.000000
             mean      5.361111     5.827586     4.137931     4.620690
             std       1.495761     1.774199     0.580895     1.082781
             min       4.000000     4.000000     3.000000     4.000000
             25%       4.000000     4.000000     4.000000     4.000000
             50%       5.500000     6.000000     4.000000     4.000000
             75%       6.000000     8.000000     4.000000     6.000000
             max       8.000000     8.000000     6.000000     8.000000
displacement count    36.000000    29.000000    29.000000    29.000000
             mean    177.805556   206.689655   115.827586   135.310345
             std      76.012713    96.307581    33.744914    58.387929
             min      78.000000    85.000000    70.000000    79.000000
             25%     115.500000   121.000000    90.000000    98.000000
             50%     159.500000   183.000000   107.000000   119.000000
             75%     231.000000   302.000000   140.000000   151.000000
             max     318.000000   360.000000   225.000000   350.000000
horsepower   count    36.000000    29.000000    29.000000    29.000000
             mean     99.694444   101.206897    77.517241    80.931034
             std      28.436214    28.455955    17.512487    17.788301
             min      48.000000    65.000000    48.000000    58.000000
             25%      82.500000    77.000000    67.000000    65.000000
             50%      97.000000    90.000000    75.000000    76.000000
             75%     116.250000   125.000000    90.000000    88.000000
             max     165.000000   155.000000   132.000000   120.000000
weight       count    36.000000    29.000000    29.000000    29.000000
             mean   2861.805556  3055.344828  2436.655172  2522.931034
             std     626.023907   747.881497   432.235491   533.600501
             min    1800.000000  1915.000000  1835.000000  1755.000000
             25%    2282.500000  2556.000000  2110.000000  2065.000000
             50%    2910.000000  3190.000000  2335.000000  2385.000000
             75%    3410.000000  3725.000000  2800.000000  2900.000000
             max    4080.000000  4360.000000  3381.000000  3725.000000
acceleration count    36.000000    29.000000    29.000000    29.000000
             mean     15.805556    15.813793    16.934483    16.306897
             std       2.129915     2.952931     2.826694     2.192509
             min      11.200000    11.300000    11.400000    12.600000
             25%      14.475000    14.000000    15.100000    14.800000
             50%      15.750000    15.000000    16.500000    16.200000
             75%      16.825000    17.300000    18.700000    17.300000
             max      21.500000    24.800000    23.700000    20.700000

model_year                   82
mpg          count    31.000000
             mean     31.709677
             std       5.392548
             min      22.000000
             25%      27.000000
             50%      32.000000
             75%      36.000000
             max      44.000000
cylinders    count    31.000000
             mean      4.193548
             std       0.601074
             min       4.000000
             25%       4.000000
             50%       4.000000
             75%       4.000000
             max       6.000000
displacement count    31.000000
             mean    128.870968
             std      39.352037
             min      91.000000
             25%     105.000000
             50%     119.000000
             75%     142.000000
             max     262.000000
horsepower   count    31.000000
             mean     81.354839
             std      13.088286
             min      52.000000
             25%      70.000000
             50%      84.000000
             75%      88.000000
             max     112.000000
weight       count    31.000000
             mean   2453.548387
             std     354.276713
             min    1965.000000
             25%    2127.500000
             50%    2525.000000
             75%    2727.500000
             max    3035.000000
acceleration count    31.000000
             mean     16.638710
             std       2.484844
             min      11.600000
             25%      14.850000
             50%      16.400000
             75%      18.000000
             max      24.600000

###### Multiple Columns

In [45]:
by_yr_cyl = df.groupby(['model_year','cylinders']).mean()

In [47]:
by_yr_cyl.index

MultiIndex([(70, 4),
            (70, 6),
            (70, 8),
            (71, 4),
            (71, 6),
            (71, 8),
            (72, 3),
            (72, 4),
            (72, 8),
            (73, 3),
            (73, 4),
            (73, 6),
            (73, 8),
            (74, 4),
            (74, 6),
            (74, 8),
            (75, 4),
            (75, 6),
            (75, 8),
            (76, 4),
            (76, 6),
            (76, 8),
            (77, 3),
            (77, 4),
            (77, 6),
            (77, 8),
            (78, 4),
            (78, 5),
            (78, 6),
            (78, 8),
            (79, 4),
            (79, 5),
            (79, 6),
            (79, 8),
            (80, 3),
            (80, 4),
            (80, 5),
            (80, 6),
            (81, 4),
            (81, 6),
            (81, 8),
            (82, 4),
            (82, 6)],
           names=['model_year', 'cylinders'])

In [48]:
by_yr_cyl.columns

Index(['mpg', 'displacement', 'horsepower', 'weight', 'acceleration'], dtype='object')

In [49]:
by_yr_cyl

                            mpg  displacement  horsepower       weight  \
model_year cylinders
70         4          25.285714    107.000000   87.714286  2292.571429
           6          20.500000    199.000000   91.750000  2710.500000
           8          14.111111    367.555556  183.666667  3940.055556
71         4          27.461538    101.846154   77.615385  2056.384615
           6          18.000000    243.375000   98.875000  3171.875000
           8          13.428571    371.714286  166.857143  4537.714286
72         3          19.000000     70.000000   97.000000  2330.000000
           4          23.428571    111.535714   85.142857  2382.642857
           8          13.615385    344.846154  159.692308  4228.384615
73         3          18.000000     70.000000   90.000000  2124.000000
           4          22.727273    109.272727   82.909091  2338.090909
           6          19.000000    212.250000  102.125000  2917.125000
           8          13.200000    365.250000  170.000000  4279.050000
74         4          27.800000     96.533333   74.000000  2151.466667
           6          17.857143    230.428571   98.285714  3320.000000
           8          14.200000    315.200000  146.000000  4438.400000
75         4          25.250000    114.833333   84.916667  2489.250000
           6          17.583333    233.750000   96.750000  3398.333333
           8          15.666667    330.500000  142.000000  4108.833333
76         4          26.766667    106.333333   75.600000  2306.600000
           6          20.000000    221.400000   98.700000  3349.600000
           8          14.666667    324.000000  146.333333  4064.666667
77         3          21.500000     80.000000  110.000000  2720.000000
           4          29.107143    106.500000   78.785714  2205.071429
           6          19.500000    220.400000  102.000000  3383.000000
           8          16.000000    335.750000  152.375000  4177.500000
78         4          29.576471    112.117647   79.705882  2296.764706
           5          20.300000    131.000000  103.000000  2830.000000
           6          19.066667    213.250000  109.833333  3314.166667
           8          19.050000    300.833333  135.500000  3563.333333
79         4          31.525000    113.583333   75.750000  2357.583333
           5          25.400000    183.000000   77.000000  3530.000000
           6          22.950000    205.666667  105.000000  3025.833333
           8          18.630000    321.400000  131.900000  3862.900000
80         3          23.700000     70.000000  100.000000  2420.000000
           4          34.612000    111.000000   74.360000  2360.080000
           5          36.400000    121.000000   67.000000  2950.000000
           6          25.900000    196.500000  111.000000  3145.500000
81         4          32.814286    108.857143   73.190476  2275.476190
           6          23.428571    184.000000  100.714286  3093.571429
           8          26.600000    350.000000  105.000000  3725.000000
82         4          32.071429    118.571429   79.107143  2402.321429
           6          28.333333    225.000000  102.333333  2931.666667

                      acceleration
model_year cylinders
70         4             16.000000
           6             15.500000
           8             11.194444
71         4             16.961538
           6             14.750000
           8             12.214286
72         3             13.500000
           4             17.214286
           8             13.000000
73         3             13.500000
           4             17.136364
           6             15.687500
           8             12.250000
74         4             16.400000
           6             16.857143
           8             14.700000
75         4             15.833333
           6             17.708333
           8             13.166667
76         4             16.866667
           6             17.000000
           8             13.222222
77         3             13.500000
           4             16.064286
           6             16.900000
           8             13.662500
78         4             16.282353
           5             15.900000
           6             16.391667
           8             13.266667
79         4             15.991667
           5             20.100000
           6             15.433333
           8             15.400000
80         3             12.500000
           4             17.144000
           5             19.900000
           6             15.050000
81         4             16.466667
           6             15.442857
           8             19.000000
82         4             16.703571
           6             16.033333

In [51]:
by_yr_cyl.loc[(72,8)]

mpg               13.615385
displacement     344.846154
horsepower       159.692308
weight          4228.384615
acceleration      13.000000
Name: (72, 8), dtype: float64

In [52]:
by_yr_cyl.loc[[81,82]]

                            mpg  displacement  horsepower       weight  \
model_year cylinders
81         4          32.814286    108.857143   73.190476  2275.476190
           6          23.428571    184.000000  100.714286  3093.571429
           8          26.600000    350.000000  105.000000  3725.000000
82         4          32.071429    118.571429   79.107143  2402.321429
           6          28.333333    225.000000  102.333333  2931.666667

                      acceleration
model_year cylinders
81         4             16.466667
           6             15.442857
           8             19.000000
82         4             16.703571
           6             16.033333

In [60]:
df.groupby('model_year').agg({
    'mpg' : ['mean','std','sum','count','min','first','last'],
    'horsepower' : ['max','var','std']
})

                  mpg                                          horsepower  \
                 mean       std    sum count   min first  last        max
model_year
70          17.689655  5.339231  513.0    29   9.0  18.0   9.0        225
71          21.250000  6.591942  595.0    28  12.0  27.0  26.0        180
72          18.714286  5.435529  524.0    28  11.0  24.0  27.0        208
73          17.100000  4.700245  684.0    40  11.0  13.0  11.0        230
74          22.703704  6.420010  613.0    27  13.0  20.0  31.0        150
75          20.266667  4.940566  608.0    30  13.0  19.0  33.0        170
76          21.573529  5.889297  733.5    34  13.0  28.0  13.0        180
77          23.375000  6.675862  654.5    28  15.0  31.5  21.5        190
78          24.061111  6.898044  866.2    36  16.2  43.1  29.5        165
79          25.093103  6.794217  727.7    29  15.5  21.5  33.5        155
80          33.696552  7.037983  977.2    29  19.1  41.5  32.4        132
81          30.334483  5.591465  879.7    29  17.6  27.2  17.6        120
82          31.709677  5.392548  983.0    31  22.0  28.0  31.0        112


                    var        std
model_year
70          2887.433498  53.734844
71          1462.370370  38.240951
72          1690.966931  41.121368
73          2154.101923  46.412304
74           857.165242  29.277384
75           706.340230  26.577062
76          1051.743316  32.430592
77          1302.883598  36.095479
78           808.618254  28.436214
79           809.741379  28.455955
80           306.687192  17.512487
81           316.423645  17.788301
82           171.303226  13.088286

###### Compute average weight of cars released in year 1974 from the U.S (origin 1) .

In [62]:
df = pd.read_csv('mpg.csv')
df_new = df[[ 'weight', 'model_year','origin']]
df_new

     weight  model_year  origin
0      3504          70       1
1      3693          70       1
2      3436          70       1
3      3433          70       1
4      3449          70       1
..      ...         ...     ...
393    2790          82       1
394    2130          82       2
395    2295          82       1
396    2625          82       1
397    2720          82       1

[398 rows x 3 columns]

In [68]:
df_new.groupby(['origin','model_year']).mean().loc[(1,74)].iloc[0]

3503.3333333333335

In [70]:
print(f"The average weight of cars released in year 1974 from the U.S is {np.round(df_new.groupby(['origin','model_year']).mean().loc[(1,74)].iloc[0],2)}")

The average weight of cars released in year 1974 from the U.S is 3503.33